{% extends "base.html" %}
{% load static %}
{% block title %} | 關於我們 - 養心園  {% endblock %}
{% block content %}


<div class="container mt-5">
  <p class="block-styled-text">服務理念</p>
</div>


<div class="container mt-3" style="margin-left: 10px;">
 
 
      
        <h2>「嘉善為念，如事至親」</h2>
        <p>我們相信最高品質的服務來自對照護的專業，與及對被照顧者的同理心；同時我們亦理解家人對於交托長輩於外的忐忑和焦慮，是以嘉頤護理團隊以「嘉善為念，如事至親」為服務理念，力求以長者為本位去思考營運和服務方向，以專業的知識和技能，提供具尊嚴並有溫度的院舍服務。</p>

        <img src="media/image1.png" alt="嘉頤優質護老院，政府甲一級安老院/老人院，24小時專業護理，註冊西醫定期到診">
        
        <h2>服務長者對象</h2>
        <ul>
            <li>年屆65歲或以上之長者</li>
            <li>年滿60至64歲，需要特別護理服務之長者</li>
            <li>無傳染病及不良嗜好</li>
            <li>體格及精神狀態適合群體生活</li>
        </ul>

        <img src="media/image2.jpeg" alt="嘉頤優質護老院，政府甲一級安老院/老人院，24小時專業護理，註冊西醫定期到診">

        <h2>專業護理團隊</h2>
        <p>嘉頤的護理團隊均獲得香港政府認可專業資格並持有相關護理證書，團隊包括:</p>
        <ul>
            <li>註冊護士<sup>#</sup></li>
            <li>登記護士<sup>#</sup></li>
            <li>物理治療師<sup>#</sup></li>
            <li>保健員</li>
            <li>護理員及助理員</li>
        </ul>
        <p><sup>#適用於部份院舍</sup></p>

        <img src="media/image3.png" alt="舒適的環境、二十四小時專業與貼心的照護服務，以及精心設計的康樂活動">

        <h2>環境、二十四小時專業與貼心的照護服務，以及精心設計的康樂活動，有更好的生活品質。</h2>
 
</div>
  
 
{% endblock %}