{% extends "base.html" %}
{% load static %}
{% block title %} | 申請資助 {% endblock %}
{% block content %}

 



<div class="container mt-5">
    <p class="block-styled-text">申請資助</p>
</div>


    <div class="container mt-3" style="margin-left: 10px;">
    
    
        <table class="table table-bordered mb-5">
            <tbody>
                <tr>
                    <td>安老院舍提供了重要的服務，幫助長者在安全和舒適的環境中生活。為了支持這些院舍的運作，政府提供資助計劃。</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="container mt-5">
        <p class="block-styled-text">申請條件</p>
    </div>
 

    <div class="container mt-3" style="margin-left: 10px;">
     
        <table class="table table-bordered mb-5">
            <tbody>
                <tr>
                    <td>1. 申請者必須符合以下條件：</td>
                </tr>
                <tr>
                    <td>2. 年齡在65歲或以上。</td>
                </tr>
                <tr>
                    <td>3. 需要長期護理服務。</td>
                </tr>
                <tr>
                    <td>4. 符合政府的經濟狀況要求。</td>
                </tr>
            </tbody>
        </table>
    </div> 


    <div class="container mt-5">
        <p class="block-styled-text">申請流程</p>
    </div>
 
  
 
    <div class="container mt-3" style="margin-left: 10px;">
        
        <table class="table table-bordered mb-5">
            <tbody>
                <tr>
                    <td>1. 向社會福利署提交申請表格</td>
                </tr>
                <tr>
                    <td>2. 提供身份證明文件副本</td>
                </tr>
                <tr>
                    <td>3. 提供收入和資產證明</td>
                </tr>
                <tr>
                    <td>4. 提供醫生證明書（如適用）</td>
                </tr>
                <tr>
                    <td>5. 等待社署評估申請資格</td>
                </tr>
                <tr>
                    <td>6. 接受評估面談</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="container mt-5">
        <p class="block-styled-text">重要事項</p>
    </div>
 
 

    <div class="container mt-3" style="margin-left: 10px;">
            
        <table class="table table-bordered mb-5">
            <tbody>
                <tr>
                    <td>• 申請過程需時約4-6週</td>
                </tr>
                <tr>
                    <td>• 所有文件必須為正本或核實副本</td>
                </tr>
                <tr>
                    <td>• 如有查詢，請致電社會福利署熱線: 2343 2255</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
    {% endblock %}