{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | Welcome {% endblock %}
{% block content %}
 
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1 class="display-4">養心園安老院舍</h1>
            <p class="lead">Welcome to 養心園安老院舍</p>
            </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <img src="{% static 'img/elderly_main.jpg' %}" alt="Main Page Image" class="img-large">
      </div>
  </div>

{% endblock %}