{% extends "base.html" %}
{% load static %}

{% block title %} | 老人營養餐單 {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">老人營養餐單</h1>
    
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">星期</th>
                <th scope="col">早餐</th>
                <th scope="col">午餐</th>
                <th scope="col">下午茶</th>
                <th scope="col">晚餐</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>周一</td>
                <td>燕麥粥，水果</td>
                <td>蒸魚，青菜，米飯</td>
                <td>牛奶，餅乾</td>
                <td>雞肉湯，麵條</td>
            </tr>
            <tr>
                <td>周二</td>
                <td>豆漿，包子</td>
                <td>紅燒肉，土豆，米飯</td>
                <td>水果沙拉</td>
                <td>清蒸蝦，蔬菜</td>
            </tr>
            <tr>
                <td>周三</td>
                <td>雞蛋，吐司</td>
                <td>牛肉炒青菜，米飯</td>
                <td>酸奶，堅果</td>
                <td>豆腐湯，米飯</td>
            </tr>
            <tr>
                <td>周四</td>
                <td>牛奶，饅頭</td>
                <td>清蒸魚，米飯</td>
                <td>茶，蛋糕</td>
                <td>魚湯，蔬菜</td>
            </tr>
            <tr>
                <td>周五</td>
                <td>水果燕麥</td>
                <td>排骨湯，米飯</td>
                <td>牛奶，水果</td>
                <td>炒麵，青菜</td>
            </tr>
            <tr>
                <td>周六</td>
                <td>豆腐腦，油條</td>
                <td>蒸雞，米飯，蔬菜</td>
                <td>餅乾，果汁</td>
                <td>牛肉湯，米飯</td>
            </tr>
            <tr>
                <td>周日</td>
                <td>粥，水果</td>
                <td>魚香肉絲，米飯</td>
                <td>茶，蛋糕</td>
                <td>清蒸雞，蔬菜</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}